<h3>Registered Nations</h3>

  <% @nations.each do |nation| %>
    <ul>
      <a href="/nations/<%= nation.id %>"><img src="<%= nation.flag %>" class="flag"></image> <%= nation.name %> </a>
    </ul>
  <% end %>

  <form action="">
    <a href="/nations/new"><button type="button">Register Nation</button></a>
    <a href="/athletes/new"><button type="button">Register Athlete</button></a>
  </form>
