
<a href="/nations/new">Register Nation</a>

<ul>
  <% @nations.each do |nation| %>
    <li>
      <a href="/nations/<%= nation.id %>"><img src="<%= nation.flag %>" class="flag"></image> <%= nation.name %> </a>
    </li>
  <% end %>
</ul>
