<%= @nation.name %>

<a href="/nations/<%= @nation.id %>/edit">Edit</a>

<form action="/nations/<%= @nation.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete nation">
</form>
