<div class="content">

  <form action="/athletes" method="post">

    <h3>Register Athlete</h3>

    <label for="name">Athlete Name:</label>
    <input type="text" name="name"><br>

    <label for="Nation_id">Nationality:</label>
    <select name="nation_id">
      <% @nations.each do | nation | %>
        <option value="<%= nation.id %>"><%= nation.name %></option>
      <% end %>
    </select><br>

    <input type='submit' value="Register Athlete">
  </form>

</div>
