<ul>
  <h3><%= @athlete.name %></h3>
  <% @athlete.event.each do |event| %>
    <li> <%= event.name %></li>
  <% end %>

  <a href="/athletes/<%= @athlete.id %>/edit">Update Athlete</a>
</ul>

<form action="/athletes/<%= @athlete.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Athlete">
