<form action="/athletes/<%= @athlete.id %>" method="post">
  <h3><%= @athlete.name %></h3>
  <% @athlete.event.each do |event| %>
    <ul> <a href="/events"> <%= event.name %> </a> </ul>
  <% end %>

  <a href="/athletes/<%= @athlete.id %>/edit"><button type="button">Update Athlete</button></a>

  <input type="hidden" name="_method" value="delete">
  <input type="submit" class="delete" value="Delete Athlete" >
</form>
